.app-nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  li {
    list-style-type: none;
  }
}

.app-logo {
  max-height: 2rem;
}

.app-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  li {
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.call-to-action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20rem;
  background-color: lightgray;
  img {
    max-height: 20rem;
  }
  * {
    padding: 16px 0;
  }
  button {
    background-color: rgb(231, 231, 31);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: rgb(166, 166, 0);
    border: 1px solid black;
  }
}

.booking {
  display: grid;
  justify-items: center;
}
